creditcheck-clients/src/main/java/resources/CRIF.wsdl

<wsdl:definitions
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://webservice.cg.crif.com/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	name="RequestServiceService"
	targetNamespace="http://webservice.cg.crif.com/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://webservice.cg.crif.com/"
			elementFormDefault="unqualified"
			targetNamespace="http://webservice.cg.crif.com/" version="1.0">
			<xs:element name="getDetail" type="tns:getDetail" />
			<xs:element name="getDetailResponse"
				type="tns:getDetailResponse" />
			<xs:element name="getHtml" type="tns:getHtml" />
			<xs:element name="getHtmlResponse"
				type="tns:getHtmlResponse" />
			<xs:element name="getPdf" type="tns:getPdf" />
			<xs:element name="getPdfResponse"
				type="tns:getPdfResponse" />
			<xs:element name="invoke" type="tns:invoke" />
			<xs:element name="invokeResponse"
				type="tns:invokeResponse" />
			<xs:complexType name="getPdf">
				<xs:sequence>
					<xs:element minOccurs="0" name="arg0" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getPdfResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getDetail">
				<xs:sequence>
					<xs:element minOccurs="0" name="arg0" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getDetailResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getHtml">
				<xs:sequence>
					<xs:element minOccurs="0" name="arg0" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getHtmlResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="invoke">
				<xs:sequence>
					<xs:element minOccurs="0" name="arg0" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="invokeResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getDetailResponse">
		<wsdl:part element="tns:getDetailResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="invoke">
		<wsdl:part element="tns:invoke" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="invokeResponse">
		<wsdl:part element="tns:invokeResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getPdf">
		<wsdl:part element="tns:getPdf" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getDetail">
		<wsdl:part element="tns:getDetail" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getHtmlResponse">
		<wsdl:part element="tns:getHtmlResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getPdfResponse">
		<wsdl:part element="tns:getPdfResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getHtml">
		<wsdl:part element="tns:getHtml" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="RequestService">
		<wsdl:operation name="getPdf">
			<wsdl:input message="tns:getPdf" name="getPdf">
			</wsdl:input>
			<wsdl:output message="tns:getPdfResponse"
				name="getPdfResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getDetail">
			<wsdl:input message="tns:getDetail" name="getDetail">
			</wsdl:input>
			<wsdl:output message="tns:getDetailResponse"
				name="getDetailResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getHtml">
			<wsdl:input message="tns:getHtml" name="getHtml">
			</wsdl:input>
			<wsdl:output message="tns:getHtmlResponse"
				name="getHtmlResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="invoke">
			<wsdl:input message="tns:invoke" name="invoke">
			</wsdl:input>
			<wsdl:output message="tns:invokeResponse"
				name="invokeResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="RequestServiceServiceSoapBinding"
		type="tns:RequestService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getPdf">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getPdf">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getPdfResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getDetail">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getDetail">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getDetailResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getHtml">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getHtml">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getHtmlResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="invoke">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="invoke">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="invokeResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="RequestServiceService">
		<wsdl:port binding="tns:RequestServiceServiceSoapBinding"
			name="RequestServicePort">
			<soap:address
				location="file:///D:/workspaces/rcidirect_v2/rcidirect-clients-ie/rcidirect-clients-crif/src/main/java/resources/CRIF.wsdl" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>